@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  background: #0b0b14;
  color: white;
  overflow: hidden;
}

.btn {
  padding: 12px 24px;
  background: #ec4899;
  border-radius: 10px;
  font-size: 18px;
}